[Unit]
Description=Github Ruuner for raspi-clock
After=network.target

[Service]
Type=simple
ExecStart=/opt/command-server/command-server.py
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target