[Unit]
Description=Github Ruuner for raspi-clock
After=network.target

[Service]
Type=simple
ExecStart=/home/tuimac/github/raspi-clock/src/shutdown/shutdown-server.py
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target